/* Global Styles */
body {
  font-family: "Satisfy", cursive, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #FE6A86, #FD969A, #FEE255, #FFDD13);
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hide scrollbar for content overflow */
body::-webkit-scrollbar {
  display: none;
}

/* Header Styles */
header {
  background-color: #FFDCE0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Updated Navigation Link Style */
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #FFDD13;
}

/* Contact Form Styles */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="date"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Satisfy", cursive, Arial, sans-serif;
  font-size: 20px;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff6347;
}

.contact-form textarea {
  height: 120px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  /* Add styles for smaller screens here */
}

@media only screen and (min-width: 601px) {
  /* Add styles for larger screens here */
}
